<div class="navbar navbar-fixed-center">
  <div class="navbar-inner">
    <div class="container">
<div class = "masthead">
        <h1>Clinic <%=@clinic.name%></h1>
</div>


<table class = "table table-striped table-bordered">
<tr>
   <th>ID</th>
   <th>Name</th>
   <th></th>
   <th></th>
</tr>
<%= render @clinic.doctors %>
</table>

<hr />
<div class = "masthead">
        <h3>Add a New Doctor for This Clinic</h3>
</div>

<%= render "doctors/form"%>
<br />
<hr />
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      <%= link_to 'Edit', edit_clinic_path(@clinic), class: "brand" %>
      <%= link_to 'Back', @clinic, class: "brand" %>
      </a>

<div class="nav-collapse">
        <ul class="nav">
        </ul>
      </div>
    </div>
  </div>
</div>
           
